/********** Template CSS **********/
:root {
    --primary: #D19C97;
    --secondary: #F5F5F5;
    --light: #F0F0F0;
    --dark: #2B2B2B;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 30px;
    bottom: 30px;
    z-index: 99;
}

h1,
h2,
.font-weight-semi-bold,
.font-weight-bold {
    font-family: 'Roboto', sans-serif;
}

h3,
h4,
h5,
h6,
.font-weight-medium {
    font-family: 'Roboto', sans-serif;
}

.btn {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    transition: .3s;
}

.btn-primary {
    color: #FFFFFF;
    background-color: var(--primary);
    border-color: var(--primary);
}

.btn-primary:hover {
    background-color: var(--dark);
    border-color: var(--dark);
}

.btn-square {
    width: 36px;
    height: 36px;
}

.btn-sm-square {
    width: 28px;
    height: 28px;
}

.btn-lg-square {
    width: 46px;
    height: 46px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
}

.navbar-light .navbar-nav .nav-link {
    padding: 25px 10px;
    color: var(--dark);
    font-weight: 500;
    outline: none;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
    color: var(--primary);
}

@media (max-width: 991.98px) {
    .navbar-light .navbar-nav .nav-link  {
        padding: 10px 0;
    }
}

.navbar-dark .navbar-nav .nav-link {
    padding: 25px 10px;
    color: #FFFFFF;
    font-weight: 500;
    outline: none;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
    color: var(--primary);
}

@media (max-width: 991.98px) {
    .navbar-dark .navbar-nav .nav-link  {
        padding: 10px 0;
    }
}

.bg-secondary {
    background: var(--secondary) !important;
}

.bg-dark {
    background: var(--dark) !important;
}

.section-title {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
}

.section-title span {
    position: relative;
    display: inline-block;
    z-index: 1;
}

.product-item {
    position: relative;
    border-radius: 0.5rem;
    overflow: hidden;
}

.product-item .product-img {
    overflow: hidden;
}

.product-item .product-img img {
    transition: .5s;
}

.product-item:hover .product-img img {
    transform: scale(1.1);
}

.product-item .product-action {
    position: absolute;
    width: 100%;
    bottom: -40px;
    left: 0;
    opacity: 0;
    transition: .5s;
}

.product-item:hover .product-action {
    bottom: 0;
    opacity: 1;
}

.mb-30 {
    margin-bottom: 30px;
}

.pagination .page-link {
    color: var(--dark);
    border-color: #DDDDDD;
}

.pagination .page-link:hover,
.pagination .page-item.active .page-link {
    color: #FFFFFF;
    background: var(--primary);
    border-color: var(--primary);
}

/* Custom Checkboxes */
.custom-control-input:checked~.custom-control-label::before {
    background-color: var(--primary);
    border-color: var(--primary);
}

.custom-checkbox .custom-control-label {
    cursor: pointer;
}

/* Product Detail */
.product-detail .nav-pills .nav-link {
    color: var(--dark);
    background: var(--light);
    border-radius: 0;
}

.product-detail .nav-pills .nav-link.active {
    color: #FFFFFF;
    background: var(--primary);
}

/* Cart Table */
.table tbody td {
    vertical-align: middle;
}

/* Footer */
.footer {
    color: #999999;
}

.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    color: #999999;
    font-weight: normal;
    text-transform: capitalize;
    transition: .3s;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    color: var(--primary);
    letter-spacing: 1px;
    box-shadow: none;
}

.footer .form-control {
    border-color: #999999;
}

.footer .copyright {
    padding: 25px 0;
    font-size: 15px;
    border-top: 1px solid rgba(256, 256, 256, .1);
}

.footer .copyright a {
    color: var(--primary);
}

.footer .copyright a:hover {
    color: #FFFFFF;
}
